# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sphinx documentation
docs/_build/
docs/build/

# Testing
*coverage*
reports.xml

# Jupyter Notebook
.ipynb_checkpoints

# Datasets
*.h5
*.hdf

# Plots
*.pdf

# vscode
*.code-workspace
.vscode