# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Sphinx documentation
docs/_build/
docs/build/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Datasets
*.h5
*.hdf
*.masterkey

# Plots
*.pdf

# vscode
*.code-workspace
.vscode

# Testing
*coverage*
report.xml
!.coveragerc
!/tests/*.h5
